################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/MailProject/obj/Release/MailProject.csprojResolveAssemblyReference.cache
/Project/MailProject/bin
